################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/reversestring.metadata.v7.bin
/.vs/ProjectEvaluation/reversestring.projects.v7.bin
